<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

        <!-- home.html -->
<div>
    <button><a href="/">Home</a></button>
    <h1>Add a Password</h1>

    <form method="POST" action="/add_password">
        <label for="website">Website:</label>
        <input type="text" name="website" id="website" required>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">Save Password</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="flash-message error">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endwith %}<br>

        <button><a href="/logout">Logout</a></button>
</div>
</body>
</html>