<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        <button><a href="/">Home</a></button>
        <h1>Retrieve Your Password:</h1>

        <form method="POST" action="/retrieve_password">
            <label for="website">Website:</label>
            <input type="text" name="website" id="website" required>
            <button type="submit">Retrieve Password</button>
        </form>

        {% if password %}

            <h2>
                Website: {{ website }} <br>
                Username: {{ username }} <br>
                Password: {{ password }}
            </h2>
        {% else %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                        <div class="flash-message error">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endwith %}
        {% endif %} <br>


        <button><a href="/logout">Logout</a></button>
    </div>
</body>
</html>



